body {
    background-color: black;
    margin: 0 auto;
}

h1, 
h2, 
h3 {
    color: green;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 50px;
    border: 3px solid red;
    padding: 32px;
    margin: 12px;
}

h1 {
    font-family: "Lucida Handwriting";
    color: orange;
}

ul,
ol {
    text-align: left;
    color: white;
    font-size: 25px;
    border: 3px solid red;
    padding: 32px;
    margin: 12px;
}

img {
    width: 500px;
    height: auto;
    text-align: left;
}